<html>
    <style>
       
    </style>
    <head>
        <link rel="stylesheet" href="/assets/main.css">
        <title>Maths Game</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes"
        >
         
    </head>
    
    <body>
        <div id="container">
            <div id="score">
                Score: <span id="scorevalue">0</span>
            </div>
            <div id="correct">Correct</div>
            
            <div id="wrong">Wrong</div>
            <div id="question"></div>
            <div id="instruction">Click On the Correct Answer</div>
            <div id="choices">
            <div id="box1" class="box"></div>
                
            <div id="box2" class="box"></div>
                
            <div id="box3" class="box"></div>
                
            <div id="box4" class="box"></div>
                
            
                 </div>
            <div id="start">Start Game</div>
            <div id="timeremain">Time Remaining: <span id="timeremaining">60</span>s</div>
            <div id="gameover"><h2>Game Over!</h2><p>Your Score is 0</p></div>
        </div>
    </body>
</html>
 
<script  type="text/javascript" src="/assets/main.js">   
</script>