 html{
            height:100%;
            background:radial-gradient(circle,#fff,#ccc);
        }
        #container{
            height:450px;
            width:550px;
            margin:100px auto;
            background-color:#9DD2EA;
            padding:20px;
            border-radius:10px;
            box-shadow:0px 4px 0px 0px #009de4;
                position:relative;
        }
        #correct{
            background-color:green;
            color:white;
            padding:10px;
            position:absolute;
            left:250px;
            display:none;
        }
        #wrong{
            background-color:red;
            color:white;
            padding:10px;
            position:absolute;
            left:100px;
            display:none;
        }
        #score{
            background-color:#F1FF92;
            color:#888E5F;
            position:absolute;
            padding:10px;
            left:500px;
            color:black;
            font-family:cursive,sans-serif;
        }
        #question{
            background-color:#9DA0EA;
            width:450px;
            color:white;
            height:150px;
            margin:50px auto 10px auto;
            font-size:100px;
            text-align:center;
            font-family:cursive, sans-serif;
        }
        #instruction{
            background-color:#B481D9;
            width:450px;
            color:white;
            height:40px;
            line-height:40px;
            text-align:center;
            font-family:cursive, sans-serif;
            margin:20px auto 30px auto;
            font-size:20px;
        }
        #choices{
            width:450px;
            height:100px;
            margin:5px auto;
        }

    
        .box{
            width:85px;
            height:85px;
            background-color: white;
            float:left;
            text-align:center;
            
            margin-right:36px;
            border-radius:4px;
            cursor:pointer;
            
            line-height:80px;
        }
  
        
        #box4{
            margin-right:0px;
        }
        #start{
            background-color:orange;
            padding:10px;
            color:white;
            position:absolute;
            font-family:cursive, sans-serif;
            border-radius:4px;
            width:100px;
            height:30px;
            left:230px;
            cursor:pointer;
        }
        #timeremain{
            background-color:green;
            padding:5px;
            color:white;
            position:absolute;
            margin-top:5px;
            line-height:30px;
            text-align:center;
            border-radius:4px;
            width:150px;
            height:30px;
            left:400px;
            display:none;
            cursor:pointer;
        }
        #gameover{
            width:750px;
            padding:20px;
            height:400px;
            position:fixed;
            top:10px;
            margin:auto;
            left:0px;
            right:0px;
            border-radius:15px;
            color:white;
            font-size:20px;
            text-align:center;
            font-family:cursive,sans-serif;
            z-index:2;
            display:none;
            background-image:linear-gradient(to right,#F2994A,#F2C94C);
        }